<nav role="navigation">
  <div class="flex bg-gray-200 w-full h-12 p-1 shadow">
    <div class="flex flex-col flex-end flex-shrink-0 w-40 md:ml-auto">
      <button class="bg-red-200 border-2 border-red-300 hover:bg-red-300 rounded-lg p-1 mb-1">Logout</button>
    </div>  
  </div>
</nav>