<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Beebook</title>
    <link rel="stylesheet" href="/css/app.css"/>
  </head>
  <body>
    <div class="h-screen flex items-center justify-center">
      <div class="text-6xl text-indigo-700 font-extrabold">403</div>
    </div>
  </body>
</html>
